
/*colour scheme*/
:root {
    --orange:#F18805;
    --darkBlue: #0E1428;
    --lightBlue: #7B9E89;
    --white: #fff;
    --black: #000;
}

body {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-align: center;
    background-color: var(--darkBlue);
    height: 100%;
    
}
.card{
    background: var(--white);
    border-radius:1rem;
}
.answer-item{
    width: 90%;
    display: inline-block;
    border-radius:8px;
    padding: 3px;
    color: black;
}
#btn-start{
    border: 1px solid var(--black);
	padding:1rem 0 1rem;
	border-radius:2rem;
	background: var(--orange);
    font:bold;
    font-size: 1.5rem;
	color: var(--black);
}

#code-title{
    text-align: center;
    font-weight: bold;
}